/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    transition: background-color 0.5s ease;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #007A8B;
    transform: scale(1.1);
  }
  
  button:active {
    transform: scale(1);
  }
  